services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    # Для dev-режима раскомментировать строки ниже и закомментируй CMD в Dockerfile
    # command: npm run dev
    # volumes:
    #   - .:/app
    #   - /app/node_modules
    # environment:
    #   - NODE_ENV=development